In [ ]:
# Function & oops Practice

In [1]:
print("Hello Function!")

Hello Function!

In [4]:
def greet(string1):
    print("Welcome to function class Mr ",string1)
s1 =input("Enter String :")
greet(s1)

Enter String : Nitish

Welcome to function class Mr  Nitish

In [5]:
#void or  nontype function  can't be ooperand with func 

def func():
    print("Hii ")
func() + "Nitish"

Hii

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [6]:
def stringfun():
    return "This is my first function ",2,4,3+7j,True
stringfun()

('This is my first function ', 2, 4, (3+7j), True)

In [7]:
a,b,c,d,f=stringfun()

In [8]:
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(f)
print(type(f))

This is my first function
<class 'str'>
2
<class 'int'>
4
<class 'int'>
(3+7j)
<class 'complex'>
True
<class 'bool'>

In [15]:
stringfun() [2]

4

In [23]:
def sum_(a,b):
    return a+b

sum_(1,2)
sum_([1,10,9,4],[5,11,17,8])
sum_("Hello  ","World!")

'Hello  World!'

In [24]:
sum_(b='pw',a='skills')

'skillspw'

In [33]:
def sum_1(a=0,b=0,c=0):
    return a+b+c

sum_1(a=1,b=2)
sum_1(1,0,0)

1

In [39]:
def funcadd():
    a=int(input("Enter the first integer:"))
    b=int(input("Enter the second integer:"))
    return a+b
funcadd()

Enter the first integer: 1
Enter the second integer: 2

3

In [46]:
def funconcat(a=0 , b=0):
    return a+b
funconcat(2,3)
funconcat("","Hello world")

'Hello world'

In [51]:
def fibo(a=0):
    if a==0 or a==1 :
        return 1
    else :
        return  a *fibo(a-1)
fibo(10)

3628800

In [72]:
def fibi(a=0,b=0,c=0,d =0):
    print(a)
    print(b)
    print(d)
    return  a+b

fibi(1,2,3,2)

1
2
2

3

In [73]:
#if we  don't know thw number of arguement to pass in  function then we use the *args 
def test1(*args,a):
    print(*args)
    return a
test1(1,23,455,6,7,78,3,4,"HelLO",a = 70)

1 23 455 6 7 78 3 4 HelLO

70

In [ ]:
def funct(**kwargs):  #take any number of dictionary elements 
    for i in kwargs.keys():
        if type(kwargs[i])==int:
            return i , kwargs[i]
list1={} 
for i in range(1,2):
    a = input("Enter key :") 
    b = input("Enter value:")
    try:
        b=int(b)
    except ValueError:
        pass
    list1[a]=b;

result = funct(list1)